// @import "~bootstrap/scss/forms";

$custom-box-shadow: 3px 3px 6px $black;

#root {
  > .container,
  > .container-fluid {
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    overflow-y: auto;
  }
}

.bg-after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lighten($warning, 15%);
  z-index: -1;
}

.border-radius-0 {
  border-radius: 0 !important;
}

table {
  &.client {
    tr {
      > td:first-child {
        text-align: right;
        min-width: 7rem;
        width: 8rem;
      }
    }
  }
  &.client-details {
    tr {
      > td:first-child {
        @extend .bg-black;
        @extend .text-white;
        @extend .border-bottom;
      }
    }
  }
}

.custom-backdrop {
  @extend .modal-backdrop;
  z-index: 1030;
}

.custom-dropzone {
  height: calc(6em + 6rem + 8px);
  padding: $input-padding-x;
  border: $input-border-width solid $input-border-color;
  @include border-radius($input-border-radius, 0);

  img {
    max-height: calc(6em + 4.5rem + 8px);
    max-width: calc(6em + 4.5rem + 8px);
    width: 100%;
  }
}

.custom-loader {
  animation-duration: 320ms;
  background: $white;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1029;
}

.custom-scrollbar {
  scrollbar-color: $black $white;
  // scrollbar-width: thin;
}

// .custom-scrollbar::-webkit-scrollbar {
//   width: 6px;
// }

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: $black;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: $white;
}
.input-group-append > .custom-select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-prepend > .custom-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.loading-spinner {
  position: fixed;
  top: calc(50% - 2.5rem);
  left: calc(50% - 16px);
}

.modal-content {
  border: none;
  box-shadow: $custom-box-shadow;
}

.modal-open {
  padding-right: 0 !important;
}

.modal.fade.show .modal-dialog.modal-dialog-zoom {
  transform: translate(0, 0) scale(0.5);
}

.pagination {
  cursor: pointer;
}

@each $type in valid invalid {
  @each $tag in input button {
    #{$tag}.form-control.is-#{$type} {
      background-position-x: calc(100% - 0.475em);
    }
  }
  .input-group.is-#{$type} ~ .#{$type}-feedback {
    display: block;
  }
  .#{$type} {
    &-tooltip {
      right: 0;
    }
  }
}

@media (min-width: 36rem) {
  @each $side in left right {
    form .col-sm-#{$side} {
      padding-#{$side}: 0.4rem !important;
    }
  }
}

@media (min-width: 36rem) {
  .custom-dropzone {
    height: 12.5rem;
    height: calc(6em + 6rem + 8px);
  }

  form {
    .col-sm-left {
      padding-left: 0.4rem !important;
    }

    .col-sm-right {
      padding-right: 0.4rem !important;
    }
  }
}

// @media (min-width: 100rem) {
//   html {
//     font-size: 1.2rem;
//   }
// }
