.form-group:not(.custom-switch),
.has-float-label {
  position: relative;

  label {
    left: 0.75rem;
    line-height: 1;
    margin-bottom: 0;
    opacity: 1;
    position: absolute;
    top: -0.5em;
    transition: all 0.2s;
    z-index: 4;

    &::after {
      content: " ";
      background: linear-gradient(to bottom, transparent, $body-bg, transparent);
      position: absolute;
      left: -0.2em;
      top: 0;
      right: -0.2em;
      bottom: 0;
      z-index: -1;
    }
  }

  &-lg {
    label {
      left: 0.85rem;
    }
  }
}

.card {
  .form-group:not(.custom-switch),
  .has-float-label {
    label::after {
      background: linear-gradient(0turn, transparent, $body-bg, transparent);
    }
  }
}
