@media (max-width: 575px) {
  .offcanvas-collapse {
    align-items: center;
    display: flex;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 100%;
    width: 16rem;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    &.open {
      visibility: visible;
      transform: translateX(-100%);
    }
    > .navbar-nav {
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }
  }
}
