.tree-view {
  overflow-y: hidden;
  &_children {
    margin-left: 1rem;
    &-collapsed {
      height: 0;
    }
  }
  &_arrow {
    cursor: pointer;
    margin-right: 0.375rem;
    display: inline-block;
    user-select: none;
    &:after {
      content: "▾";
    }
    &-collapsed {
      transform: rotate(-90deg);
    }
  }
}
