.notification-container {
  position: fixed;
  z-index: 8000;

  &-top-center {
    @extend .notification-container;
    transform: translateX(-50%);
    top: 4.5rem;
    left: 50%;
  }

  &-bottom-center {
    @extend .notification-container;
    transform: translateX(-50%);
    margin-bottom: -1rem;
    bottom: 1rem;
    left: 50%;
  }

  &-top-left {
    @extend .notification-container;
    left: 1rem;
    top: 4.5rem;
  }

  &-top-right {
    @extend .notification-container;
    right: 1rem;
    top: 4.5rem;
  }

  &-bottom-left {
    @extend .notification-container;
    left: 1rem;
    bottom: 1rem;
    margin-bottom: -1rem;
  }

  &-bottom-right {
    @extend .notification-container;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: -1rem;
  }

  &-mobile-top {
    @extend .notification-container;
    right: 1rem;
    left: 1rem;
    top: 4.5rem;
  }

  &-mobile-bottom {
    @extend .notification-container;
    right: 1rem;
    left: 1rem;
    bottom: 1rem;
  }
}
