@import "containers";
@import "types";

@keyframes timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.notification-item {
  display: flex;
  position: relative;
  cursor: pointer;
  border: $alert-border-width solid transparent;
  margin-bottom: 1rem;
  box-shadow: 0.0625rem 0.1875rem 0.25rem rgba(0, 0, 0, 0.2);
  @include border-radius($alert-border-radius);

  .timer {
    width: 100%;
    height: 0.1875rem;
    margin-top: 0.625rem;
    border-radius: 0.3125rem;

    .timer-filler {
      height: 0.1875rem;
      border-radius: 0.3125rem;
    }
  }

  .notification-title {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.3125rem;
  }

  .notification-message {
    color: #fff;
    max-width: calc(100% - 15px);
    font-size: 1rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    margin-bottom: 0;
    margin-top: 0;
  }

  .notification-content {
    padding: $alert-padding-y $alert-padding-x;
    display: inline-block;
    width: 100%;
  }

  .notification-close {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;

    &::after {
      // right: 0.625rem;
      // top: 1rem;
      // line-height: 1rem;
      content: "\D7";
      position: absolute;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 1.5rem;
      left: 50%;
      top: 50%;
    }
  }
}

.n-parent {
  width: 275px !important;
}

.notification-container-mobile-bottom .n-parent,
.notification-container-mobile-bottom .notification-item,
.notification-container-mobile-top .n-parent,
.notification-container-mobile-top .notification-item {
  max-width: 100%;
  width: 100%;
}

.notification-container-bottom-right .n-parent,
.notification-container-top-right .n-parent {
  margin-left: auto;
}

.notification-container-bottom-left .n-parent,
.notification-container-top-left .n-parent {
  margin-right: auto;
}

.notification-container-mobile-bottom .n-parent,
.notification-container-mobile-top .n-parent {
  margin-left: auto;
  margin-right: auto;
}
