@import "../variables";

@mixin types($color) {
  background-color: $color;

  .timer {
    background-color: $color;
  }

  .timer-filler {
    background-color: $white;
  }

  .notification-close {
    background-color: lighten($color, 60%);
  }
}

$colors: (
  "default": $primary,
  "success": $success,
  "danger": $danger,
  "info": $info,
  "warning": $warning,
  "awesome": $indigo
);

@each $class, $color in $colors {
  .notification-#{$class} {
    @include types($color);
  }
}
